## What do I need to know about the pandas index?

"The indices (multi-indices especially) are one of the most confusing thing in pandas for me. What are the advantages of using indices instead of just storing its' values in columns?"
- Vladislav Serkov, ~Twitter 2016

Extended, but based of Kevin Markham's YouTube series on Pandas: https://www.youtube.com/@dataschool

### Index

In [2]:
import pandas as pd

In [3]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [6]:
# The index sometimes called "row labels"

drinks.index

RangeIndex(start=0, stop=193, step=1)

In [7]:
# Column labels will use an "Index object" for its representation. And technically it is "an index" of a sort.
# However, careful not to confuse these semantics; in pandas terminology, "index" generally refers to the row labels, as with the above attribute and various "index" object-methods.

drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [144]:
# Column headers and the index (row labels) are not included here.
drinks.shape

# (193, 6) refers to the rows and columns of the matrix of data fields; labels are metadata of the DataFrame object.

(193, 6)

In [145]:
# First line of file is interpreted as column labels. An integer range starting from 0 is generated for us as row labels (index).
pd.read_csv('teachers.csv')

      name  teaching     modules  age
0  Matteus      True         5,9   25
1    Peter      True  1,2,3,7,10   26
2     Tony      True       4,6,8   27
3    Tomas     False         NaN   28

In [8]:
# File without any labels included. Also, not csv (other delimiter ...)
pd.read_table('teachers_table.txt') # read_table() is more generic than read_csv

# Dubious results

        Matteus|True|"5,9"|25
0  Peter|True|"1,2,3,7,10"|26
1        Tony|True|"4,6,8"|27
2             Tomas|False||28

In [147]:
# Specify the delimiter. Specify no row for header.
pd.read_table('teachers_table.txt', sep='|', header=None)

# We get an integer range now for our column headers as well. Hopefully, we can still make sense of the data without labels...

         0      1           2   3
0  Matteus   True         5,9  25
1    Peter   True  1,2,3,7,10  26
2     Tony   True       4,6,8  27
3    Tomas  False         NaN  28

Why are indices (column labels included) useful?
- Identification
- Selection
- Alignment (later ...)

### Identification

In [148]:
drinks[drinks.continent=='South America']
# Pay attention to the row numbers. They remain with the results.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,South America
20,Bolivia,167,41,8,3.8,South America
23,Brazil,245,145,16,7.2,South America
35,Chile,130,124,172,7.6,South America
37,Colombia,159,76,3,4.2,South America
52,Ecuador,162,74,3,4.2,South America
72,Guyana,93,302,1,7.1,South America
132,Paraguay,213,117,74,7.3,South America
133,Peru,163,160,21,6.1,South America
163,Suriname,128,178,7,5.6,South America
185,Uruguay,115,35,220,6.6,South America
188,Venezuela,333,100,3,7.7,South America

The index helps you **identify** what rows you are working with, even when you have filtered or are working with subsets of the original DataFrame.

### Selection

In [149]:
# .loc is an indexer attribute of the 'drinks' DataFrame.
drinks.loc[23, 'beer_servings']
# Select row with index label 23 and column with header 'beer_servings' => single field value.

245

In [150]:
SA_drinks = drinks[drinks.continent=='South America']
SA_drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,South America
20,Bolivia,167,41,8,3.8,South America
23,Brazil,245,145,16,7.2,South America
35,Chile,130,124,172,7.6,South America
37,Colombia,159,76,3,4.2,South America
52,Ecuador,162,74,3,4.2,South America
72,Guyana,93,302,1,7.1,South America
132,Paraguay,213,117,74,7.3,South America
133,Peru,163,160,21,6.1,South America
163,Suriname,128,178,7,5.6,South America
185,Uruguay,115,35,220,6.6,South America
188,Venezuela,333,100,3,7.7,South America

In [151]:
# Note how even on the subset, we get the same result, because the index for the included rows remained intact.
SA_drinks.loc[23, 'beer_servings']

245

### Changing index

In [152]:
# It's not natural to ask "What's the beer servings value for country #23?". Rather, we'd be asking about Brazil specifically.
drinks.loc[drinks.country=='Brazil', 'beer_servings']

23    245
Name: beer_servings, dtype: int64

In [153]:
# One could ask why we have to use such wordy syntax instead of just something like:
drinks.loc['Brazil', 'beer_servings']  # KeyError

# That's because the values in the country column is not the index for the rows.
# So instead for row selection, we have to specify "rows where 'country' has a value of 'Brazil'".

KeyError: 'Brazil'

In [ ]:
# However, we can modify the index. Although it's not something that should be done every time.
# A prerequisite is that the new index must consist of unique values (or we can't identify, select, or align properly).
drinks.set_index('country', inplace=True)    # inplace=True modifies the DataFrame instead of returning a copy.
drinks

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa
...,...,...,...,...,...
Venezuela,333,100,3,7.7,South America
Vietnam,111,2,1,2.0,Asia
Yemen,6,0,0,0.1,Asia
Zambia,32,19,4,2.5,Africa
Zimbabwe,64,18,4,4.7,Africa

In [ ]:
drinks.loc['Brazil', 'beer_servings']   # Row label, column label - OK

245

The old index was discarded and replaced with the country column.

NOTE: This means that the country column values are no longer considered part of the DataFrame's data. It is now metadata.

In [ ]:
drinks.index   # 'country' label is now the name of the index
# drinks.index.name = None   # Can be changed.

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [ ]:
drinks.columns   # Missing 'country'

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [ ]:
drinks.shape   # (193, 5)

(193, 5)

"Thanks, I hate it."

In [ ]:
drinks.reset_index(inplace=True)  # Create a fresh index for me. Turn the old index into a column.
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

"Go deeper."

In [ ]:
drinks.reset_index(inplace=True)  # Ctrl + Enter cell until problems occur.

ValueError: cannot insert level_0, already exists

In [ ]:
drinks # Inspect the damage.

,level_0,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,0,Afghanistan,0,0,0,0.0,Asia
1,1,1,Albania,89,132,54,4.9,Europe
2,2,2,Algeria,25,0,14,0.7,Africa
3,3,3,Andorra,245,138,312,12.4,Europe
4,4,4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...,...,...
188,188,188,Venezuela,333,100,3,7.7,South America
189,189,189,Vietnam,111,2,1,2.0,Asia
190,190,190,Yemen,6,0,0,0.1,Asia
191,191,191,Zambia,32,19,4,2.5,Africa
192,192,192,Zimbabwe,64,18,4,4.7,Africa

In [ ]:
# .drop() can drop rows or columns from a DataFrame.
drinks.drop(['level_0', 'index'], inplace=True)

KeyError: "['level_0', 'index'] not found in axis"

In [ ]:
# What went wrong? Wrong axis.
drinks.drop(['level_0', 'index'], axis='columns', inplace=True)

In [ ]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [ ]:
# Bonus - describe()
drinks.describe() # Outputs a DataFrame

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [ ]:
# This too has an index.
drinks.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [ ]:
# Knowing this, how could we get the value for the 50th percentile for wine_servings?
drinks.describe().loc['50%', 'wine_servings']

8.0

In [154]:
# We like our subset, and wish to treat it as a fresh dataset with a fresh index.
SA_drinks.reset_index(inplace=True)
SA_drinks.drop('index', axis=1, inplace=True)
# "SettingWithCopyWarning: 
# A value is trying to be set on a copy of a slice from a DataFrame"

# This is because 'SA_drinks' is a view of the original 'drinks' DataFrame.
# We won't go into detail about this warning right now, but it informs you that assignment may not have worked.
# In this case it did, but proper measure would be to modify the original line:
# SA_drinks = drinks[drinks.continent=='South America'].copy()   # Should add .copy() to tell Pandas it should make a full new entity.

# Regardless:
# SA_drinks.reset_index(inplace=True, drop=True)    # Both at the same time.

C:\Users\matte\AppData\Local\Temp\ipykernel_3436\1651909311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SA_drinks.drop('index', axis=1, inplace=True)

In [103]:
SA_drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,South America
20,Bolivia,167,41,8,3.8,South America
23,Brazil,245,145,16,7.2,South America
35,Chile,130,124,172,7.6,South America
37,Colombia,159,76,3,4.2,South America
52,Ecuador,162,74,3,4.2,South America
72,Guyana,93,302,1,7.1,South America
132,Paraguay,213,117,74,7.3,South America
133,Peru,163,160,21,6.1,South America
163,Suriname,128,178,7,5.6,South America
185,Uruguay,115,35,220,6.6,South America
188,Venezuela,333,100,3,7.7,South America

### Series index

If DataFrame acts as a 2-dimensional Numpy array, then Series is its 1-dimensional brother.

Or if you've studied some mathematical linear algebra; Series to a DataFrame is what a vector is to a matrix.

In [159]:
# Series objects appear all the time in Pandas and operate similarly as DataFrame objects.
# If you select one column or one row from a dataset, Pandas will return a Series rather than a DataFrame.
print(type(drinks.continent))
print(drinks.continent.shape)   # (193,) ; 193 x 1 ; The 1 is implied and not necessary.
drinks.continent   # drinks['continent']

<class 'pandas.core.series.Series'>
(193,)

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
188    South America
189             Asia
190             Asia
191           Africa
192           Africa
Name: continent, Length: 193, dtype: object

In [165]:
# Note the index - it was inherited from the DataFrame.

# More apparent when we select a row.
drinks.loc[6] # Row with index label: 6
# drinks.iloc[6] # 7th row

# The column labels create the index for returned Series.

country                             Argentina
beer_servings                             193
spirit_servings                            25
wine_servings                             221
total_litres_of_pure_alcohol              8.3
continent                       South America
Name: 6, dtype: object

In [174]:
# Quick note on iloc, or "integer-location" based indexing.
temp_SA = drinks.loc[drinks.continent=='South America']
temp_SA.loc[6]   # Argentina
temp_SA.iloc[6]   # Guyana
temp_SA

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,South America
20,Bolivia,167,41,8,3.8,South America
23,Brazil,245,145,16,7.2,South America
35,Chile,130,124,172,7.6,South America
37,Colombia,159,76,3,4.2,South America
52,Ecuador,162,74,3,4.2,South America
72,Guyana,93,302,1,7.1,South America
132,Paraguay,213,117,74,7.3,South America
133,Peru,163,160,21,6.1,South America
163,Suriname,128,178,7,5.6,South America
185,Uruguay,115,35,220,6.6,South America
188,Venezuela,333,100,3,7.7,South America

In [1]:
# Not this again ...
drinks.set_index('country', inplace=True)

NameError: name 'drinks' is not defined

In [177]:
# Get column.
drinks.continent

# Index inherited from the DataFrame.

country
Afghanistan             Asia
Albania               Europe
Algeria               Africa
Andorra               Europe
Angola                Africa
                   ...
Venezuela      South America
Vietnam                 Asia
Yemen                   Asia
Zambia                Africa
Zimbabwe              Africa
Name: continent, Length: 193, dtype: object

In [180]:
# You may have ran into Series before without thinking about any indices.
print(type(drinks.continent.value_counts()))
drinks.continent.value_counts()

<class 'pandas.core.series.Series'>

continent
Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: count, dtype: int64

In [184]:
drinks.continent.value_counts().index
#drinks.continent.value_counts().values

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object', name='continent')

In [190]:
# "Number of data entries (countries) for Europe"

# Series have easier "row" selection, if you can even call it that in a 1-dimensional object.
drinks.continent.value_counts()['Europe']

# Reminder though there are often many ways to do the same thing in Pandas:
# drinks.loc[drinks.continent=='Europe'].shape[0]
# drinks.continent[drinks.continent=='Europe'].count()

45

In [193]:
# sort_values() ... and sort_index() !
drinks.continent.value_counts().sort_index()

continent
Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: count, dtype: int64

### Alignment

In [197]:
# Let's show off some powerful stuff of indices.

# Start by making a new Series.
populations = pd.Series([2_793_592, 58_853_482, 10_540_886], index=['Albania', 'Italy', 'Sweden'], name='population')  # Jan-2022, 2022, and 31-May-2023 estimates respectively (wikipedia). Good enough!
# Also make note of the quality-of-life underscore notation to make big number literals more readable ; Introduced in Python 3.6
populations

Albania     2793592
Italy      58853482
Sweden     10540886
Name: population, dtype: int64

In [204]:
# 193 x 1 * 3 x 1 ... how will this Series operation go?
total_beer_servings = drinks.beer_servings * populations
total_beer_servings

# Wait, what?

Afghanistan            NaN
Albania        248629688.0
Algeria                NaN
Andorra                NaN
Angola                 NaN
                  ...
Venezuela              NaN
Vietnam                NaN
Yemen                  NaN
Zambia                 NaN
Zimbabwe               NaN
Length: 193, dtype: float64

In [205]:
# Magic??
total_beer_servings.dropna()

# No, index alignment!

Albania    2.486297e+08
Italy      5.002546e+09
Sweden     1.602215e+09
dtype: float64